ul {
    list-style-type: none;
    padding: 0px;
}

.list {
    color: black;
    width :250px;
    padding-bottom :10px;
    border-width :0 0 2px 0;
    border-style : solid;
    font-size: 16px;
}
.nav-item{
    height: 44px;
    padding: 12px 30px 12px 0;
    font-size: 16px;
    font-weight: 600;
    

}

.item{
    height: 44px;
    font-size: 16px;
    font-weight: 500;
}

.filter-group {
    overflow: auto;
}

.box {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
  }
  .box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: solid black;
  }
  
  .box:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .box input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: relative;
    display: none;
  }
  
  .box input:checked ~ .checkmark:after {
    display: block;
  }
  
  .box .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

.anh-bia{

    position:  absolute;
    left: 257px; 

}

.toolbar{
    width: 850px;
    height: 40px;
    padding: 5px 5px 5px 0px;
    border: 1px solid black;
    margin-top: 20px;
    text-align: start;
    background-color: gainsboro;
    background-origin: padding-box;
    display: inline-block;
    position: relative;
}

span > a{
    margin-left: 18px;
}
