<div class="mt-4" style="position: relative; padding: 20px 20%;">
    <h3>Thêm sản phẩm</h3>

    <form method="POST" action="/products/store">
        <div class="form-group">
            <label for="name">Thể loại</label>
            <select class="form-control form-control-sm" id="cateID" name="cateID">
                <label class="form-label" for="field-120334">Thể Loại</label>
                {{#each categorys}}
                    <option value="{{this._id}}">{{this.name}}</option>
                {{/each}}
             </select>
        </div>
        <div class="form-group">
            <label for="name">Tên Sản Phẩm</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" id="description" name="description" required>
        </div>
        <div class="form-group">
            <label for="image">Hình ảnh</label>
            <input type="text" class="form-control" id="image" name="image" required>
        </div>
        <div class="form-group">
            <label for="imageshow1">Hình ảnh trong thông tin sản phẩm</label>
            <input type="text" class="form-control" id="imageshow1" name="imageshow1" required>
        </div>
        <div class="form-group">
            <label for="imageshow2">Hình ảnh trong thông tin sản phẩm</label>
            <input type="text" class="form-control" id="imageshow2" name="imageshow2" required>
        </div>
        <div class="form-group">
            <label for="price">Giá</label>
            <input type="text" class="form-control" id="price" name="price" required>
        </div>
        <div>
            <button type="submit" class="button-w mt-4 mb-4">Thêm Sản Phẩm</button>
        </div>
    </form>
    <a href="/me"><button type="submit" class="button-w button-form">Back</button></a>
</div>