<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Mua ngay</button>
            <button>Thêm vào giỏ hàng</button>
            <p>{{product.description}}</p>
            <p>Giá: {{product.price}}</p>
        </div>

        <div class="col-lg-9">
            <h2>{{product.name}}</h2>
            <img width="348" height="358" src="{{product.image}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            
        </div>
    </div>
</div>