.descriptions {
  display: block;
  padding-bottom: 20px;
  border-bottom: ridge 1px; }

.note {
  display: inline-block;
  font-size: small;
  margin-bottom: 60px; }

.tac-gia {
  font-size: 20px;
  font-weight: 800;
  margin-left: 600px; }
