 <!-- START: FOOTER -->
<footer class="footer">
    <div class="footer__policy">
        <div class="footer__policy-list col-half">
            <div class="footer__policy-item">
                <h4>QUY ĐỊNH ĐỔI TRẢ HÀNG</h4>
                <p>
                    <b>XXSTORE</b>
                    sẵn sàng hỗ trợ đổi sản phẩm cho bạn trong vòng 10 ngày trên
                    toàn hệ thống
                </p>
            </div>
            <div class="footer__policy-item">
                <h4>KHÁCH HÀNG THÂN THIẾT</h4>
                <p>
                    Chính sách khách hàng thân thiết của <b>XXSTORE</b> khi mua
                    đơn hàng, quý khách sẽ được cấp thẻ MEMBERSHIP có ưu đãi
                    5%,10%,15% và các ưu đãi khác.
                </p>
            </div>
        </div>
        <div class="footer__policy-list col-half">
            <div class="footer__policy-item footer__policy-social">
                <h4>KẾT NỐI VỚI XXSTORE</h4>
                <p>
                    <a href="https://www.facebook.com/XX-STORE-109999904645833" class="link-social">
                        <i class="fab fa-facebook social-icon"></i>
                    </a>
                    <a href="https://www.facebook.com/XX-STORE-109999904645833" class="link-social">
                        <i class="fab fa-instagram social-icon"></i>
                    </a>
                    <a href="https://www.facebook.com/XX-STORE-109999904645833" class="link-social">
                        <i class="fab fa-twitter-square social-icon"></i>
                    </a>
                    <a href="https://www.facebook.com/XX-STORE-109999904645833" class="link-social">
                        <i class="fab fa-google-plus social-icon"></i>
                    </a>
                </p>
            </div>
            <div class="footer__policy-item footer__policy-mailchimp">
                <h4>ĐĂNG KÝ NHẬN TIN TỪ CHÚNG TÔI</h4>
                <p>Đăng ký nhận thông tin và nhận nhiều ưu đãi từ XXSTORE</p>
                <form action="" class="form-mailchimp">
                    <input type="email" name="" id="" placeholder="Nhập email của bạn...">
                    <button type="submit"><i class="fas fa-paper-plane"></i></button>
                </form>
            </div>
        </div>

    </div>

    <div class="wrapper-footer">
        <div class="footer__infor">
            <div class="footer_infor-list col-four">
                <img src="/img/logo/logospecial.png" alt="XXSTORE" width="150px"
                    height="auto">
                <p class="xxstore-address">
                    ĐỊA CHỈ STORE: số 97, đường Man Thiện, phường Hiệp Phú, Q.9 TP.HCM
                    <ul class="more-inf">
                        <li>
                            <a href="tel:+0888182717">Điện thoại: 02899990090</a>
                        </li>
                        <li>
                            <a href="mailto:xxstore@gmail.com">Email:
                                xxstore@gmail.com</a>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="footer_infor-list col-four">
                <h4>Thông tin</h4>
                <ul class="more-inf">
                    <li>
                        <a href="/products">Sản phẩm</a>
                    </li>
                    <li>
                        <a href="/news">Tin tức</a>
                    </li>
                    <li>
                        <a href="/products">Sale all</a>
                    </li>
                    <li>
                        <a href="/shop-system">Các cửa hàng</a>
                    </li>
                </ul>
            </div>
            <div class="footer_infor-list col-four">
                <h4>Hệ thống cửa hàng</h4>
                <ul class="more-inf">
                    <li>
                        <a href="/shop-system">TP. Hồ Chí Minh</a>
                    </li>
                    <li>
                        <a href="/shop-system">Đà Nẵng</a>
                    </li>
                    <li>
                        <a href="/shop-system">Cần Thơ</a>
                    </li>
                    <li>
                        <a href="/shop-system">Biên Hòa</a>
                    </li>
                </ul>

            </div>
            <div class="footer_infor-list col-four"></div>
        </div>

    </div>
</footer>
<!-- END: FOOTER -->
