<div style="margin-top: 30px; font-weight: 500;">
    Trang chủ >
    <span>Fashion </span>
</div>
<div class="contect">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-9">
            <h1 style="font-size: 60px;">4 CÁCH PHỐI MÀU “TÂM ĐẦU Ý HỢP” TỪ CÁC CẶP ĐÔI NỔI TIẾNG</h1>

            <p class="descriptions">
                <b>Phối đồ ăn ý vừa thể hiện sự đồng điệu trong phong cách vừa “giữ lửa” cho tình yêu thêm phần thú vị. Nếu còn băn khoăn chọn trang phục trong buổi hẹn hò hoặc chuyến du lịch sắp tới, bạn có thể tham khảo những cách phối màu đơn giản từ các cặp đôi đang được yêu thích dưới đây.</b>
            </p>
            <span class="note">Đã Cập Nhật 22 Tháng 5 Năm 2021 </span>
            <span class="note" style="margin-left: 40px;">Bởi đội XXSTORE</span>
            <img src="/img/news/phoi-do-cho-cac-couple.jpg" alt=""
                style="width: 60%; height: auto;padding-bottom: 20px; border-bottom: ridge 1px;" />
            <h2>TUY 2 MÀ 1</h2>
            <p>Một trong những cách phối màu đồ đôi đơn giản nhất là lựa chọn áo thun trắng cho cả chàng và nàng. Bạn có thể sáng tạo thêm những cách kết hợp mới theo phong cách riêng như mặc áo thun phom rộng thành đầm hoặc tự tay DIY áo thun thành croptop. Vì là một món trang phục cơ bản, nên áo thun trắng có thể kết hợp linh hoạt với những món đồ đi kèm mà vẫn giữ được sự đồng điệu giữa cả hai.
            </p>
            <img src="/img/news/hyunah_aa_phoi-mau-couple-tuong-dong.jpg" alt=""
                style="width: 70%; height: auto;padding-bottom: 20px; border-bottom: ridge 1px;" />
            <h2>BẢN PHỐI CHÉO</h2>
            <p>Đây là một bản phối khá vui nhộn bạn có thể áp dụng trong chuyến du lịch sắp tới của cả hai. Cách phối màu chéo sẽ gồm có 2 món đồ màu nổi được mặc ở vị trí đối nghịch nhau để tạo nên một tổng thể bù trừ. Điểm mạnh của kiểu kết hợp này chính là vẻ ngoài đồng điệu khi đi cùng nhau nhưng vẫn không làm mất đi cá tính riêng của từng người.</p>
            <img src="/img/news/loungu_phoi-mau-couple.jpg" alt=""
                style="width: 65%; height: auto;padding-bottom: 20px; border-bottom: ridge 1px;" />
            <h2>BẢN PHỐI TON-SUR-TON</h2>
            <p>Bản phối ton-sur-ton được ưa chuộng bởi sự đơn giản nhưng vẫn tạo cảm giác đồng điệu. Để tạo nên phong cách riêng cho cách phối màu này, những món đồ chính (áo hoặc quần, đầm…) nên được chọn theo một tông màu chủ đạo và thêm thắt những chi tiết khác để hài hòa hơn. Bạn không nhất thiết phải lựa chọn gam màu hoàn toàn giống nhau, vì bên cạnh ton-sur-ton còn có kiểu phối monochrome dành cho trang phục có các sắc độ màu xê dịch.</p>
            <img src="/img/news/lehatruc_phoi-mau-couple.jpg" alt=""
                style="width: 70%; height: auto;padding-bottom: 20px; border-bottom: ridge 1px;" />
            <h2>LESS IS MORE</h2>
            <p>Cách phối màu này khá đơn giản vì các bạn không cần mặc hai món đồ giống nhau. Đổi lại, bạn cần một chút nhạy bén trong cách kết hợp màu sắc từ những món đồ sẵn có. Nếu yêu thích phong cách tối giản, hãy cùng nửa kia chọn một vài gam màu mà cả hai cùng có trong tủ quần áo. Một bí quyết nhỏ dành cho bạn, hãy tận dụng những họa tiết trên váy, áo để dễ dàng lựa chọn món đồ phù hợp cho nửa kia. Nếu bạn có một chiếc váy kẻ sọc trắng xanh, áo sơ mi trắng hoặc áo thun màu xanh sẽ là gợi ý dành cho “người ấy”.</p>
            <img src="/img/news/younonii_phoi-mau-couple-ton-sur-ton.jpg" alt=""
                style="width: 70%; height: auto;padding-bottom: 20px; border-bottom: ridge 1px;" />
            <p>Bạn có thể phân các màu trung tính thành từng nhóm nhỏ tùy theo mức độ hài hòa và chỉ lựa chọn trang phục dựa trên nhóm màu đó. Chẳng hạn một chiếc áo sơ mi xanh sẽ kết hợp tốt hơn với màu áo trắng tinh hơn là màu trắng ngà. Hay bạn có thể chọn nhóm màu gỗ làm chủ đạo với những bộ đồ xoay quanh các tông ấm như nâu, kem, đỏ rượu, cam đất…</p>
            <img src="/img/news/bychloenguyen_phoi-mau-couple.jpg" alt=""
                style="width: 70%; height: auto;padding-bottom: 20px; border-bottom: ridge 1px;" />

            <div class="tac-gia"><i>XXSTORE</i></div>
            <div style="padding-top: 30px; border-top: ridge 1px;">
                <h2>Tin liên quan</h2>
                <div class="content-wrap">
                    <ul class="content-list">
                        <li class="content-item col-third">
                            <a href="/fashion/wash-jean" class="product">
                                <img src="/img/news/Bao-quan-do-jean.jpg" alt="">
                                <h5>GIẶT QUẦN JEAN ĐÚNG CÁCH</h5>

                            </a>
                            <p class="product-price">
                                <span class="news-calendar">
                                    <i class="fas fa-calendar-alt"></i>
                                    22-05/2021
                                </span>
                                <span class="news-xxstore">
                                    <i class="fas fa-user"></i>
                                    XXSTORE
                                </span>
                            </p>
                            <div class="news-description">
                                <p class="preview-news">
                                    Cách giặt quần jean mới mua không bị phai màu chỉ từ những nguyên liệu đơn giản
                                    nhất!
                                    Cùng XXSTORE tìm hiểu trong bài viết sau đây nhé!...
                                    <br>
                                    <a href="/fashion/wash-jean" class="read-now">
                                        <span>Read Now</span>
                                    </a>
                                </p>
                            </div>
                        </li>
                        <li class="content-item col-third">
                            <a href="/fashion/style-of-me" class="product">
                                <img src="/img/news/phong-cach-gon-gang.jpg" alt="">
                                <h5>STYLE ĐÓNG THÙNG, LỊCH LÃM</h5>

                            </a>
                            <p class="product-price">
                                <span class="news-calendar">
                                    <i class="fas fa-calendar-alt"></i>
                                    22-05/2021
                                </span>
                                <span class="news-xxstore">
                                    <i class="fas fa-user"></i>
                                    XXSTORE
                                </span>
                            </p>
                            <div class="news-description">
                                <p class="preview-news">
                                    Với hình ảnh chàng trai nam tính, lịch lãm, trang phục được sơ vin “đóng thùng” gọn
                                    gàng sẽ
                                    giúp bạn gây được ấn tượng tối với người đối diện...
                                    <br>
                                    <a href="/fashion/style-of-me" class="read-now">
                                        <span>Read Now</span>
                                    </a>
                                </p>
                            </div>
                        </li>
                        <li class="content-item col-third">
                            <a href="/fashion/style-for-couple" class="product">
                                <img src="/img/news/phoi-do-cho-cac-couple.jpg" alt="">
                                <h5>PHỐI ĐỒ CHO CÁC COUPLE</h5>

                            </a>
                            <p class="product-price mt-4">
                                <span class="news-calendar">
                                    <i class="fas fa-calendar-alt"></i>
                                    22-05/2021
                                </span>
                                <span class="news-xxstore">
                                    <i class="fas fa-user"></i>
                                    XXSTORE
                                </span>
                            </p>
                            <div class="news-description">
                                <p class="preview-news">
                                    Phối đồ ăn ý vừa thể hiện sự đồng điệu trong phong cách vừa “giữ lửa” cho tình yêu
                                    thêm phần thú vị. Nếu còn băn
                                    khoăn chọn trang phục...
                                    <br>
                                    <a href="/fashion/style-for-couple" class="read-now">
                                        <span>Read Now</span>
                                    </a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>