 <!-- START: CONTAINER -->
<div class="container-form">
    <div class="wrap">
        <div class="breadcrumb-news">
            <p>
                Trang chủ >
                <span>Tin tức </span>
            </p>
            <h4 class="title">Danh mục tin tức<hr></h4>
        </div>

        <div class="content-wrap">
            <ul class="content-list">
                <li class="content-item col-third">
                    <a href="/fashion/wash-jean" class="product">
                        <img src="/img/news/Bao-quan-do-jean.jpg" alt="">
                        <h5>GIẶT QUẦN JEAN ĐÚNG CÁCH</h5>

                    </a>
                    <p class="product-price">
                        <span class="news-calendar">
                            <i class="fas fa-calendar-alt"></i>
                            22-05/2021
                        </span>
                        <span class="news-xxstore">
                            <i class="fas fa-user"></i>
                            XXSTORE
                        </span>
                    </p>
                    <div class="news-description">
                        <p class="preview-news">
                            Cách giặt quần jean mới mua không bị phai màu chỉ từ những nguyên liệu đơn giản nhất! Cùng XXSTORE tìm hiểu trong bài viết sau đây nhé!...
                            <br>
                            <a href="/fashion/wash-jean" class="read-now">
                                <span>Read Now</span>
                            </a>
                        </p>
                    </div>
                </li>
                <li class="content-item col-third">
                    <a href="" class="product">
                        <img src="/img/news/phong-cahch-gon-gang.jpg"
                            alt="">
                        <h5>STYLE ĐÓNG THÙNG, LỊCH LÃM</h5>

                    </a>
                    <p class="product-price">
                        <span class="news-calendar">
                            <i class="fas fa-calendar-alt"></i>
                            22-05/2021
                        </span>
                        <span class="news-xxstore">
                            <i class="fas fa-user"></i>
                            XXSTORE
                        </span>
                    </p>
                    <div class="news-description">
                        <p class="preview-news">
                            Description a little content of the news....
                            <br>
                            <a href="" class="read-now">
                                <span>Read Now</span>
                            </a>
                        </p>
                    </div>
                </li>
                <li class="content-item col-third">
                    <a href="" class="product">
                        <img src="/img/news/phoi-do-cho-cac-couple.jpg"
                            alt="">
                        <h5>PHỐI ĐỒ CHO CÁC COUPLE</h5>

                    </a>
                    <p class="product-price">
                        <span class="news-calendar">
                            <i class="fas fa-calendar-alt"></i>
                            22-05/2021
                        </span>
                        <span class="news-xxstore">
                            <i class="fas fa-user"></i>
                            XXSTORE
                        </span>
                    </p>
                    <div class="news-description">
                        <p class="preview-news">
                            Description a little content of the news....
                            <br>
                            <a href="" class="read-now">
                                <span>Read Now</span>
                            </a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: CONTAINER -->


