 <!-- START: CONTENT -->
            <div class="container-form">
                <div class="wrap">
                    <div class="breadcrumb-login">
                        Trang chủ >  
                        <span>Tìm kiếm sản phẩm </span>
                    </div>
                    <h3 class="title-register">TÌM KIẾM SẢN PHẨM</h3>

                    <div class="form-custom">
                        <form action="/search" method="GET" class="form-search">
                            <h3>Nhập từ khóa để tìm kiếm sản phẩm</h3>
                            <input type="text" placeholder="Nhập sản phẩm cần tìm kiếm" required> 
                            <button class="button-w">Tìm kiếm</button>

                        </form>
                    </div>
                </div>
            </div>         
<!-- END: CONTENT -->