 <!-- START: CONTAINER -->
<div class="container-form" style="margin-bottom: 50px;">
    <div class="wrap">
        <div class="breadcrumb-login">
            <p>
                Trang chủ >
                <span>Hệ thống cửa hàng</span>
            </p>
            <h4 class="title">Thông tin cửa hàng<hr></h4>
        </div>

        <div class="form-custom">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1234.2604469822943!2d106.78556098254303!3d10.847039696851551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527131ae8b249%3A0x4d2d3c8fab7d3c2e!2zOTcgxJDGsOG7nW5nIE1hbiBUaGnhu4duLCBIaeG7h3AgUGjDuiwgUXXhuq1uIDksIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1622637984042!5m2!1svi!2s"
                width="600" height="450" style="border:1; margin: 10px;"
                allowfullscreen="" loading="lazy"></iframe>
            <p>
                <div class="wrapper ml-4">
                    <img src="/img/logo/logospecial.png" alt="xxstore"
                        width="100px" height="auto">
                    <p class="infor-store">
                        <i class="fas fa-bahai infor-icon"></i>
                        THÔNG TIN LIÊN HỆ <br>
                        <i class="fas fa-map-marker-alt infor-icon"></i>
                        Địa chỉ cửa hàng: 97, đường Man Thiện, phường Hiệp Phú,
                        quận 9, TP.HCM <br>
                        <i class="fas fa-phone infor-icon"></i>
                        Điện Thoại: +888 182 717 <br>
                        <i class="fas fa-bahai infor-icon"></i>
                        THỜI GIAN HOẠT ĐỘNG <br>
                        <i class="fas fa-play infor-icon"></i>
                        9:00 - 22:00 (kể cả CN và ngày lễ) <br>

                    </p>
                </div>
            </p>
        </div>
    </div>
</div>
<!-- END: CONTAINER -->