<div class="mt-4" style="position: relative; padding: 20px 20%;">
    <h3>Thêm danh mục sản phẩm</h3>

    <form method="POST" action="/categorys/store">
        <div class="form-group">
            <label for="name">Tên danh mục</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div>
            <button type="submit" class="button-w mt-4 mb-4">Thêm danh mục</button>
        </div>
    </form>
    <a href="/me/stored/categorys"><button type="submit" class="button-w button-form">Back</button></a>
</div>