<div class="mt-4 mb-4" style="margin: 0 20%; position: relative;;">
    <h3>Thay đổi mật khẩu</h3>
    <strong style="color: red; font-size: 16px; font-weight: 600;">
      {{messages}}
    </strong>
    <form method="POST" action="/user/change-password">
        <div class="form-group">
            <label for="password">Password old *</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="newPassword">Password new *</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword">
        </div>
        <div>
            <button type="submit" class="button-w mt-3">Thay đổi</button>
        </div>
    </form>
        <a href="/user/profile"><button type="submit" class="button-w button-form">Back</button></a>
</div>


