<div class="mt-4 mb-4" style="margin: 0 20%; position: relative;;">
    <h3>Quên mật khẩu</h3>
    <strong style="color: red; font-size: 16px; font-weight: 600;">
      {{messages}}
    </strong>
    <form method="POST" action="/user/forgot-password">
        <div class="form-group">
            <label for="username">Vui lòng nhập tên tài khoản của bạn *</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div>
            <button type="submit" class="button-w mt-3">OK</button>
        </div>

    </form>
        <button onclick="check()" type="submit" class="button-w button-form">Back</button>
</div>

<script>

</script>

